<div class="row mb-3">
  <div class="col-md-12">
    <h1>
      All amorimetros
    </h1>

    <a href="/amorimetros/new" class="btn btn-block btn-outline-secondary">
      Add a new amorimetro
    </a>
  </div>
</div>

<div class="row">
  <div class="col-md-12 mb-3">
    <%= render partial: "amorimetro_templates/amorimetros_search_form" %>
  </div>
</div>



<hr>

<div class="row mb-3">
  <div class="col-md-12">
    <table class="table">
      <tr>
        <th>
          ID
        </th>

        <th>
          Points
        </th>

        <th>
          User
        </th>

        <th>
          Reason
        </th>

        <th>
          Created at
        </th>

        <th>
          Updated at
        </th>

        <th>
        </th>
      </tr>

      <% @amorimetros.each do |amorimetro| %>
      <tr>
        <td>
          <%= amorimetro.id %>
        </td>

        <td>
          <%= amorimetro.points %>
        </td>

        <td>
          <% if amorimetro.user.present? %>
            <a href="/users/<%= amorimetro.user.id %>">
              <%= amorimetro.user.email %>
            </a>
          <% end %>
        </td>

        <td>
          <%= amorimetro.reason %>
        </td>

        <td>
          <%= time_ago_in_words(amorimetro.created_at) %> ago
        </td>

        <td>
          <%= time_ago_in_words(amorimetro.updated_at) %> ago
        </td>

        <td>
          <a href="/amorimetros/<%= amorimetro.id %>">
            Show details
          </a>
        </td>
      </tr>
      <% end %>
    </table>

    <div class="row mb-3">
      <div class="col-md-12">
        <%= paginate @amorimetros, theme: "twitter-bootstrap-4" %>
      </div>
    </div>

  </div>
</div>
