<div class="row mb-3">
  <div class="col-md-8 offset-md-2">
    <h1>
      Amorimetro #<%= @amorimetro.id %> details
    </h1>

    <div class="row mb-3">
      <div class="col">
        <a href="/amorimetros" class="btn btn-block btn-outline-secondary">
          Go back
        </a>
      </div>

      <div class="col">
        <% if current_user == @amorimetro.user %>
          <a href="/amorimetros/<%= @amorimetro.id %>/edit" class="btn btn-block btn-sm btn-outline-secondary">
            Edit amorimetro
          </a>
        <% end %>
      </div>

      <div class="col">
        <% if current_user == @amorimetro.user %>
          <a href="/delete_amorimetro/<%= @amorimetro.id %>" class="btn btn-block btn-sm btn-outline-secondary">
            Delete amorimetro
          </a>
        <% end %>
      </div>
    </div>

    <dl>
      <dt>
        Points
      </dt>
      <dd>
        <%= @amorimetro.points %>
      </dd>

      <dt>
        User
      </dt>
      <dd>
        <% if @amorimetro.user.present? %>
          <a href="/users/<%= @amorimetro.user_id %>">
            <%= @amorimetro.user.email %>
          </a>
        <% end %>
      </dd>

      <dt>
        Reason
      </dt>
      <dd>
        <%= @amorimetro.reason %>
      </dd>

      <dt>
        Created at
      </dt>
      <dd>
        <%= time_ago_in_words(@amorimetro.created_at) %> ago
      </dd>

      <dt>
        Updated at
      </dt>
      <dd>
        <%= time_ago_in_words(@amorimetro.updated_at) %> ago
      </dd>
    </dl>
  </div>
</div>

